
<div class="container">
  <h2 id="gerudo">Gerudo Valley General Store</h2>

  <div class="jumbotron" id="title">
    <button class="btn btn-danger" id="button"><%= link_to "PRODUCTS", products_path(@products) %></button>
    <br>
    <p>Your one stop shop for everything you'll ever need in Hyrule!</p>
  </div>
  <div class="new_product">
    <div class="row">
      <div class="col-md-4">
        <h1>New Products:</h1>
        <% @products.recent_products.each do |product| %>
        <h3><%= link_to product.name, product_path(product)%></h3>
        <h5>Launch Date: <%= product.created_at.strftime("%Y-%m-%d") %></h5>
        <% end %>
      </div>
      <div class="col-md-4">
        <h1>Products with the Most Reviews:</h1>
        <% @products.most_reviews.each do |product| %>
        <%  binding.pry %>
        <h3><%= link_to product.name, product_path(product.id)%></h3>
        <h5><%= product.reviews_count %> Reviews</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
