<!DOCTYPE html>
<html>
  <head>
    <title>Gerudo Valley</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="container">
      <h2 id="flash-notice"><%= flash[:notice] %></h2>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
